.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 300.2px 0;
  gap: 12px;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  padding-top: 48px;
  flex-wrap: wrap;
  max-width: 944px;
  width: 100%;
  margin: 0 auto;
}

.button {
  max-width: 178px;
  width: 100%
}

.circle {
  padding-top: 48px;
}