.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 122px 0;
  gap: 12px;
  align-items: center;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: end;
  padding-top: 48px;
  flex-wrap: wrap;
  max-width: 944px;
  width: 100%;
  margin: 0 auto;
  max-height: 340px;
  height: 100%;
}

.button {
  max-width: 178px;
  width: 100%
}


